@charset "UTF-8";

.compareView {
  width: 800px;
  background-color: #f5f5f5;

  padding-top: 0 !important; }
  .compareView .comparisoncontrol {
    height: 40px;
    width: 100%; }
    .compareView .comparisoncontrol .controlButtons {
      float: right;
      margin-right: 10px;
      border: 1px solid #d3d3d3;
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .compareView .comparisoncontrol .controlButtons button {
        font-size: 11px;
        float: left;
        margin: 0;
        border-radius: 0;
        border: 0; }
        .compareView .comparisoncontrol .controlButtons button.active {
          background-color: white; }
        .compareView .comparisoncontrol .controlButtons button.over {
          border-right: 0;
          border-bottom-left-radius: 4px; }
        .compareView .comparisoncontrol .controlButtons button.align {
          border-right: 1px solid grey;
          border-left: 1px solid grey; }
        .compareView .comparisoncontrol .controlButtons button.wrap {
          border-left: 0;
          border-bottom-right-radius: 4px; }
  .compareView .right, .compareView .left {
    
    width: 45%;
    padding: 10px 2.5%;
    overflow: auto;
    font-family: 'Source Code Pro',monospace;
    font-weight: 400;
    font-size: 13px;
    /*max-height:400px;*/ }

    .compareView .right{
        margin-left: 50%;
    }
    .compareView .left{
        float: left;
    }

    .compareView .right h5, .compareView .left h5 {
      color: #000;
      margin: 0 0 10px 0; }
    .compareView .right .content, .compareView .left .content {
      width: 100%;
      float: left; }
    .compareView .right .equal, .compareView .left .equal {
      /*color: white;*/
      background-color: #a8d975;
      /*font-weight: bold;*/
      /*border-bottom: 1px solid;*/ }
    .compareView .right .light, .compareView .left .light {
      background-color: #aaa; }
    .compareView .right .insertion, .compareView .left .insertion {
      /*color:#c61818;*/ }

.blendingView .diffcontent {
  margin-top: 10px;
  width: 754;
  float: left; }
.blendingView h5 {
  margin: 10px 0px 5px 10px; }
.blendingView .equal {
  color: black; }
.blendingView .edit {
  /*display: inline-block;*/
  position: relative;
  word-wrap: break-word;
  background-color: white; }
  .blendingView .edit .deletion {
    /* Source Text */
    background-color: white; }
  .blendingView .edit .insertion {
    /* Dissertation Text */
    background-color: white; }

body, div, ul, ol, li, h1, h2, h3, h4, p, th, td, form {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }


/* custom jquery ui icons */
.ui-icon-bigarrow-n {
  background-position: -48px -241px; }

.ui-icon-bigarrow-e {
  background-position: -64px -240px; }

.ui-icon-bigarrow-s {
  background-position: -80px -241px; }

.ui-icon-bigarrow-w {
  background-position: -96px -240px; }

.ui-icon-sort {
  background-position: 0px -240px; }

.ui-icon-view-normal {
  background-position: -16px -240px; }

.ui-icon-view-compact {
  background-position: -32px -240px; }
