<div class="comparisoncontrol">
	<div class="controlButtons">
		<button class="over" >Überlagerung</button>
		<button class="align">Zeilenangleichung</button>
		<button class="wrap">Wortumbruch</button>
	</div>	
	<div class="slidercontainer">
		<button class="slider_button_text">Fundstelle</button>
		<div class="slider"></div>
		<button class="slider_button_source">Quelle</button>
	</div>
	<div class="sliderstrictcontainer">
		<div class="strictslider"></div>
	</div>
</div>
<div class="refcontainer">
<div class="citation">
	<h5>Fundstelle:</h5>
	<div class="content"></div>

</div>
<div class="separator"></div>
<div class="source">
	<h5>Quelle:</h5>
	<div class="content"></div>
</div>
</div>
</div>